<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Backbone.js  WindowsJS</title>
	<link rel="stylesheet" href="styles/base.css">
</head>
<body>
	<section id="windowsapp">
        <div id="status-bar">
            <div class="win-button">
            </div>
            <div id="status-bar-applications">
            </div>
        </div>
        <ul id="taskbar" style="position: relative">
        </ul>
		<section id="mainscreen">
		</section>
	</section>
    <script type="text/template" id="window-template">
        <div class="title">
            <div class="window-title"><%- title %></div>
            <div class="service-buttons">
                <div class="minimize-button service-button"></div>
                <div class="maximize-button service-button"></div>
                <div class="close-window-button service-button"></div>
            </div>
        </div>
        <div class="content" data-windowid='<%- windowId %>'>

        </div>
    </script>
    <script type="text/template" id="status-bar-window-template">
        <div class="application-button active" data-windowid='<%- windowId %>'>
            <%- title %>
        </div>
    </script>
    <script type="text/template" id="taskbar-template">
      <% _.each(mainMenu, function(menu) { %> <li class="addwindow" data-title='<%- menu.title %>'
                                                  data-objectname='<%- menu.objectName %>'
                                                  data-windowid='<%- menu.windowId %>'><%- menu.title %></li> <% }); %>
    </script>
	<!--<script src="scripts/lib_extra/base.js"></script>-->
	<script src="scripts/lib_extra/jquery.min.js"></script>
    <script src="scripts/lib_extra/jquery-ui-1.10.3.custom.js"></script>
	<script src="scripts/lib_extra/lodash.min.js"></script>
	<script src="scripts/lib/backbone.js"></script>
	<!--<script src="scripts/lib/backbone.localStorage.js"></script>-->
    <script src="scripts/Controllers/ControllerWindow1.js"></script>
	<script src="scripts/models/windows.js"></script>
	<script src="scripts/collections/windows.js"></script>
	<script src="scripts/views/windows.js"></script>
	<script src="scripts/views/app.js"></script>
    <script src="scripts/mainmenu.js"></script>
	<script src="scripts/app.js"></script>
</body>
</html>
